.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: var(--bg-light, #fff);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.titulo-pagina {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color, #c49a6c);
}


.input-padrao {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}


.btn-padrao {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color, #c49a6c);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-padrao:hover {
  background-color: var(--primary-dark, #c49a6c);
}
